#top{ float: right; text-align: right; margin-top: 15px;  }
#top a {margin: 0px 0 0 12px; padding: 0px 0 0 12px; }
.lingu_smallfont 
{
    font-size: 10px;
    padding-left: 3px;
}

.lingu_errMsg
{
    color: #cc0000;
    
}

.lingu_button
{
    BORDER: #46852F 1px solid;
    PADDING: 0.1em 0.1em 0.1em 0.1em;
    FONT-SIZE: 12px;
    BACKGROUND-IMAGE: url(bg.gif);
    CURSOR: pointer;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif;
    WIDTH: 70px;
}

.lingu_errorLabel
{
	color: #CC0000;
}

.lightGreen
{
    background-color: #E3F5E4;
}

.infoLabel
{
	padding: 10px 10px 10px 10px;
	border: 1px solid #CFCB66;
	background: #FFFFC1 url('/img/yellowshade.gif') repeat-x;
	color: #666;
	margin-top: 10px;
	font-size: 12px;
	float: left;
}

#pnlInfoLabel
{
	padding-top: 20px;
}

.header 
{ 
       /*#376038  */
    border-bottom: solid 3px #88B455; 
}
.shadeDown
{
    font-size:12px;font-weight:bold;
	height: 20px; 
	padding: 7px 0 0 0; 
	margin: 0 0 18px; 
	background: url('/img/bg.gif') repeat-x;	
	
}

.colHeader
{
    font-size:12px;font-weight:bold;
	height: 20px; 
	padding: 7px 0 0 0; 
	margin: 0 0 18px; 
	
}

.greyedBoxBorderless
{	
	/*clear: both;*/
    background-color: #f2f2f2;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 2px;
	display:table;    
    line-height: 150%;
}

.greyedBox
{	
	/*clear: both;*/
    background:url(bg.png);
    border-top: 3px solid #d0d0d0;
    border-bottom: 3px solid #d0d0d0;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 2px;
	display:table;
	font-size: 10pt;
    line-height: 27px;
}
.emphasize
{
    color: #353630;
}
.plansWrap .emphasize
{
    font-size: 12pt;
}
.emphasize a
{
    font-size: 14pt;
}
div.row 
{
    clear:left;
	padding: 3px 0px 3px 0px;
	width: 725px;
}

div.row span.label
{
  float: left;
  width: 20%;
  text-align: right;
  padding: 3px 0px 5px 0px;
}

div.row span.formy
{
    text-align: right;
    padding: 13px 0px 5px 10px;
    height: 25px;
}


div.row span.formw 
{
  float: left;
  text-align: left;
  padding: 3px 0px 5px 10px;
  width: 55%;
}

div.row span.formx 
{
  float: right;
  text-align: right;
  padding: 3px 10px 5px 0px;
}

.infoMsg
{
    padding-left: 20px;
    background: url('/img/information.png') no-repeat left;
    font-size: 10pt;
    color: #5991AB;
}

.errorMsg
{
    padding-left: 20px;
    background: url('/img/exclamation.png') no-repeat left;
    color: #cc0000;
}

.padded
{
    clear: both;
    padding: 10px;
}

.vpadded-bottom
{
    padding-bottom: 5px;
}

.vpadded-bottom-bottom
{
    padding-bottom: 15px;
}

.vpadded
{
    clear: both;
    padding: 10px 0px;
}

.rightAligned
{
    text-align: right;
}

.bolded
{
    font-weight: bold;
}

.invisible, .linguVal
{
    display:none;
}

.standardText
{
    font-size:1.3em
}

.bigText
{
    font-size: 18px;
    font-weight: bold;
    text-decoration:none !important
}

.smallText
{
    font-size: 10pt;
}

.greenShade
{
    background: #fff url(/img/greenshade.gif) repeat-x;
    min-height: 80px;
}

.greenShadePadded
{
    background: #fff url(/img/greenshade.gif) repeat-x;
    height: 100%;
    padding: 5px 5px 5px 5px;
    min-height: 80px;
}
.dataPagerXtraLarge
{
    font-size: 14pt;
    font-weight: bold;
}
.dataPagerXtraLargeSelected
{
    font-size: 14pt;
    background: #88B455;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}
.dataPagerLarge
{
    font-size: 1em;
    font-weight: bold;
}
.dataPagerLargeSelected
{
    font-size: 1em;
    background: #88B455;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}
#wzdInviteFriends
{
    margin-left: 7px;
}

.vAlignMiddle
{
    vertical-align: middle;
}


.invertedLink
{
    /*color: #46852F;*/
    text-decoration: none !important;
}

.invertedLink:hover
{
    /*color: #46852F;*/
    text-decoration: underline !important;
}

#share_social, #share_email 
{
    margin-top: 15px;
}
#share_social h4
{  
    font-weight:bold;
    color: #88B455;
    margin-top:10px;
    margin-bottom:3px;
    border-top:solid 3px #88B455;
    background: #fff url('/img/greenshade.gif') repeat-x;
    height: 100%;
    padding: 3px;
    font-size: 12px;
}

#share_social ul {
	list-style: none;
	margin: 0px !important;
	padding: 3px !important;
}
#share_social ul li {
	margin: 0;
	padding: 0;
}
#share_social ul li a {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	padding: 2px 0 2px 22px;
	vertical-align: middle;
}
#share div.clear {
	clear: both;
	float: none;
}
#lnkInviteFriends
{
    background-image: url(/img/heart.png);
}

.addthis-padded
{
    padding: 2px 12px;
}

.addthis-invite
{
    font-size: 11pt;
    line-height: 1.375em;
}

.mainProjectInfo
{
    float: left; padding: 10px; width: 830px;
}

.mainProjectInfoPrivate
{
    float: left; padding: 10px; width: 915px;
}

.sharePanel
{
    float:right; width: 48px;
}

.modalBackgroundForDeletedPage 
{
    position: relative !important;
    z-index:-1 !important;
	filter:alpha(opacity=35);
	opacity:0.35;
	-moz-opacity: 0.35;
}

.modalDeleteLink {
    z-index:1 !important;
    width: 300px;
    height: 30px;
    position:relative !important;
    bottom: 100px;
    left: 400px;
}

.on-top {z-index: 10000;}

/*AJAX Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity: 0.7;
}

.modalPopup {
	background-color:#e7e7e7;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:740px;
}

.closeIcon 
{
    float: right;
    padding-right: 5px;
    clear: both;
}

.doubleDotted
{
    clear:left;
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
    text-align: center;
    color: #5991AB;
    padding: 5px;
    float: left;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

.topSpacer
{
    clear: both;
    margin-top: 10px;
}

.lsvItem
{
    float: left; 
    width:120px;
    height: 80px; 
    margin: 16px;
    border: 1px solid #ccc;
    /*border:5px solid #EAF7D9; */
    /*background-color: #E5ECF3;*/
    -moz-box-shadow: 3px 3px 4px #999; /* Firefox */
    -webkit-box-shadow: 3px 3px 4px #999; /* Safari/Chrome */
    box-shadow: 3px 3px 4px #999; /* Opera and other CSS3 supporting browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";/* IE 8 */
    : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');/* IE 5.5 - 7 */  
}

.slideContainer
{
    float: left;
    width: 795px;
}

.lsvItemLarge
{
    float: left; 
    width: 240px;
    height: 160px;
    margin: 16px 10px;
    border: 1px solid #ccc;
    /*border:5px solid #EAF7D9; */
    /*background-color: #E5ECF3;*/
    -moz-box-shadow: 3px 3px 4px #999; /* Firefox */
    -webkit-box-shadow: 3px 3px 4px #999; /* Safari/Chrome */
    box-shadow: 3px 3px 4px #999; /* Opera and other CSS3 supporting browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";/* IE 8 */
    : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');/* IE 5.5 - 7 */  
}


.lsvItem:hover, .lsvItemLarge:hover
{
    border: 1px solid #999;
}

.screenshotOpaque
{
    opacity: .8;
    transition: opacity 100ms ease-out;
}

.screenshotOpaque:hover
{
    opacity: 1;
}


.divLeftArrow
{
    float: left; 
    width: 66px;
    height: 380px;
    background: url("slider_arrow_grey_left.png") no-repeat center left;
}

.divRightArrow
{
    float: left; 
    width: 66px;
    height: 380px;
    background: url("slider_arrow_grey_right.png") no-repeat center right;
}

.divLeftArrow:hover
{
    cursor: pointer;
    background: url("slider_arrow_green_left.png") no-repeat center left;
}

.divRightArrow:hover
{
    cursor: pointer;
    background: url("slider_arrow_green_right.png") no-repeat center right;
}

.divGroup
{
    float: left; 
    width: 795px;
    height: 450px;
}

.navigationalPager
{
    font-size: 12pt;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
    /*font-weight: bold;*/
}

.lsvTranslationProgressItem
{
    float: left; 
    width: 120px; 
    padding:1px 1px 1px 10px; 
    line-height: 1.5em;
}
.linkEditSettings
{
    padding-left: 20px;
    background: url('/img/cog.png') no-repeat left;
}
.linkGoToHomepage
{
    padding-left: 20px;
    background: url('/img/glyphicons_217_circle_arrow_right_16.png') no-repeat left;
}
.linkDeleteProject
{
    padding-left: 20px;
    background: url('/img/glyphicons_197_remove_16.png') no-repeat left;
}
.linkAddPage
{
    padding-left: 20px;
    background: url('/img/camera_add.png') no-repeat left;
}
.linkPreviewSite
{
    padding-left: 20px;
    background: url('/img/monitor.png') no-repeat left;
    margin-right: 30px;
}
.linkAddProject
{
    padding-left: 20px;
    background: url('/img/add.png') no-repeat left;
}
.linkDelete
{
    padding-left: 20px;
    background: url('/img/delete.png') no-repeat left;
}
.linkTranslationDeliveryPreview
{
    padding-left: 20px;
    background: url('/img/glyphicons_151_new_window_16.png') no-repeat left;
}
.linkTranslationDeliverySettings
{
    padding-left: 20px;
    background: url('/img/glyphicons_150_edit_16.png') no-repeat left;
}
.linkBack
{
    padding-left: 20px;
    background: url('/img/glyphicons_221_unshare_16.png') no-repeat left;
}
.linkBrowseSite
{
    padding-left: 20px;
    background: url('/img/camera.png') no-repeat left;
}
.linkLingu
{
    padding-left: 23px;
    background: url('/cdn/lingumania.png') no-repeat left;
}
.linkDotNetResources
{
    padding-left: 20px;
    background: url('/img/resources.jpg') no-repeat left;
    margin-right: 0px;
}
.linkCode
{
    padding-left: 20px;
    background: url('/img/glyphicons_118_embed_close_16.png') no-repeat left;
    margin-right: 30px;
}
.linkUploadDotNetResources
{
    padding-left: 20px;
    background: url('/img/folder_add.png') no-repeat left;
    margin-right: 30px;
}
.linkViewPage
{
    font-weight: bold;
    padding-right: 18px;
    background: url('/img/bullet_go.png') no-repeat right;
}
.linkReviewPage, .linkReviewPage:hover
{
    padding: 0px 18px;
    color: #cc0000;
    background: url('/img/exclamation.png') no-repeat left;
}
.linkWarning
{
    margin-top: 5px;
    padding-left: 25px;
    background: #E3F5E4 url('/img/error.png') no-repeat left;
}
.linkInProgressPage
{
    padding: 0px 18px;
    background: url('/img/control_play.png') no-repeat left;
}
.linkSuspendedPage, .linkSuspendedPage:hover
{
    padding: 0px 18px;
    color: #707070;
    background: url('/img/control_stop.png') no-repeat left;
}
.screenshotPlaceholder
{
    float: left; width: 140px; padding:9px 0px 0px 10px; background: url('../img/screenshotPlaceHolder1.gif') no-repeat;
}

.screenshotViewLink
{
    float: left; width: 140px; margin-right: 5px; margin-bottom:1px; text-align: center;
}

.codeBlock
{
    
	width: 640px;
	min-height: 15px;
	border: 1px solid #808080;
	margin: 15px;
	padding: 10px;
	/*font-size: 90%;*/
	background-color: #FFF;
	/*max-height: 200px;*/
	color: #000 !important;
	font-size: 10pt;
	font-family: "Courier New", Courier, monospace;
	line-height: 125%;
}

.indent
{
    padding-left: 30px;
}

.modalHeading
{
    padding: 15px 0px 0px 15px;
    font-size: 14px;
    font-weight: bold;
}

/*AJAX Modal Popup*/
.modalBackground, .simplemodal-overlay {
	background-color: Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity: 0.7;
}

.modalPopup, .simplemodal-container {
	background-color:#e7e7e7;
	border-width:3px;
	border-style:solid;
	border-color:#c0c0c0;
	padding:3px;
	min-width:300px;
}

#popupTitle
{
    padding-left: 10px; color: #46852F; font-size: 16px; margin: 15px 0px 15px 0px;
}

.handle
{
    background-color:#cccccc; border:solid 1px Gray; color:Black
}

.linkClose
{
    color:#46852F;
    cursor:pointer;
}

.linkClose a:hover
{
    text-decoration: underline;
}

.threePixTop
{
    padding-top: 3px;
}

.sixPixTop
{
    padding-top: 6px;
}

.closeIcon 
{
    float: right;
    padding-right: 5px;
    clear: both;
    height: 20px;
}

#projectPageControlContainer
{
  display: none;
  width: 100%;
  height: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#projectPageControl { width: 100%; height: 100%; }

.projectPageLoading
{
    background: url('/img/progress-indicator.gif') no-repeat center;
    z-index: 10;
}

.htmlExport
{
    margin: 10px;
    padding-left: 20px;
    background: url('../img/html.png') no-repeat left;
    float: left;
    width: 120px;
}

.resxExport
{
    margin: 10px;
    padding-left: 20px;
    background: url('../img/resources.JPG') no-repeat left;
    float: left;
    width: 200px;
}

/*AJAX Modal Popup*/
.modalBackground, .simplemodal-overlay {
	background-color: #000;
	filter:alpha(opacity=70);
	opacity:0.7;
	-moz-opacity: 0.7;
}

.modalPopup, .simplemodal-container {
	background-color:#e7e7e7;
	border-width:4px;
	border-style:solid;
	border-color:#376038;
	padding:3px;
	min-width:300px;
    z-index:10000004 !important;
}

#simplemodal-container a.modalCloseImg {background:url(/WebTranslator/img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:10000004 !important; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#projDescTextareaContainer
{
    float: left;
    width: 735px;
}

.projDescTextarea
{
    font-family: Verdana,sans-serif;
    line-height: 150%;
    font-size: 12px;
}

#alignCharsRemaining
{
    float: right;
    width: 160px;
    font-size: 11px;
    text-align:right;
}
.clear {
	clear: both;
}

normal
{
    font-weight: normal;
}

.rbt label
{
    display: inline !important;
    margin-left: 5px;
}

.rbtPublic label
{
    display: inline !important;
    margin-left: 5px;
}

.rbtPrivate label
{
    display: inline !important;
    margin-left: 5px;
}

.chkDisclaimer label, .chkDisclaimer span
{
    display: inline !important;
    padding-left: 8px;
}

.rblFeaturedOptIn label
{
    display: inline !important;
    padding-right: 8px;
}

.pnlError
{
    border: 1px dotted #cc0000;
    padding: 3px;
    margin:5px 0px 5px 0px;
    font-size: 12px;
}

.imgLink
{
    cursor: pointer;
}

.visa
{
    float: right;
    width: 43px;
    height: 30px;
    background: url('/img/visa.gif') no-repeat;
    padding-right: 3px;
}
.mastercard
{
    float: right;
    width: 43px;
    height: 30px;
    background: url('/img/mastercard.gif') no-repeat;
}
.amex
{
    float: right;
    width: 43px;
    height: 30px;
    background: url('/img/amex.gif') 1px no-repeat;
}
.discover
{
    float: right;
    width: 39px;
    height: 27px;
    background: url('/img/discover.gif') 0px 1px no-repeat;
}
.securePage
{
    float: right;
    width: 16px;
    height: 16px;
    background: url('/img/lock.png') no-repeat;
    margin: 5px 5px;
}

.doubleSpacing
{
    line-height: 180% !important;
}

.inline label
{
    display: inline !important;
    margin: 0px 10px 0 3px;
}

.pnlGridPageContainer
{
    float: left; 
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.inpagePopup p { padding: 10px; font-size: 1.2em; }
.inpagePopup h3 {color: #88B455; font-size: 1.5em; padding:5px 0 5px 10px;border-bottom:1px solid #ccc;}

.loginLeft
{
    float:left; width:55%;
}

.loginRight
{
    float:left; width:45%;padding-top:3px;
}

#janrainEngageEmbed
{
    padding: 10px 20px;
}

.spinner
{
    background-image: url("/WebTranslator/img/large-loading.gif");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.spinnerProgress
{
    background-image: url("/img/progress-indicator.gif");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.updatePanel
{
    float: left; width: 372px; border-right: 1px dotted #666; padding: 0px 10px 10px 5px;
}
.deletePanel
{
    float: left; width: 362px; padding: 0px 10px;
}
.statsContainer
{
    padding: 10px 0px 0px 0px;
}
.translationStats
{
    width: 220px;
    padding: 7px 0px;
}
.progressContainer
{
    position:relative;
    z-index:1;
    height:12px;
    margin:0;
    padding:0;
    margin-right:1px;
    background-color:#eee;
    -moz-box-shadow:inset 1px 1px 5px #ddd;
    -webkit-box-shadow:inset 1px 1px 5px #ddd;
    box-shadow:inset 1px 1px 5px #ddd;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    width: 180px;
}
.progressTranslated
{
    position:absolute;
    height:100%;
    left:0;
    background:#88B455;
    background-repeat:repeat-x;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px
}
.progressUntranslated
{
    position:absolute;
    height:100%;
    display:inline;
    background-repeat:repeat-x
}

.progressPercentage
{
    float:right;
    z-index:2;
    padding-left:.8em;
    font-size:.923em;
    height:12px;
    line-height:12px
}

.centreColumn
{
    font-size: 14px;
    line-height: 1.5em;
}

.colExplanation
{
    background:url(bg.png);
    border-top: 3px solid #d0d0d0;
    border-bottom: 3px solid #d0d0d0;
    margin: 20px 0px 30px 0px;
    padding: 10px;
    line-height: 1.5em;
}

.dotted
{
    clear: both; border-top: dotted 1px #c0c0c0; padding: 10px 0px;
}

.colTargetLang
{
    float: left; 
    width: 25%;
}


.colTargetDomain
{
    float: left; 
    width: 40%;
}


.colTargetDomainFree
{
    float: left; 
    width: 68%;
}

.colSourceDomain
{
    float: left; 
    width: 28%;
}

.colServiceType
{
    float: left; 
    width: 60%;
}

.colAmount
{
    float: right; text-align: right; width: 80px;padding-right: 5px;
}

.colButton
{
    float: right; 
    width: 7%;
    text-align: center;
}

.greyItalic
{
    color: #c0c0c0;
    font-style: italic;
}

.info
{
    color: #5991AB;
}


/* WALL STYLES */
#wall { font-size: 10pt; }
.wall-post {/*border-bottom: 1px dotted #C0C0C0;*/font-size: 14px;}
.wall-message { padding: 8px 3px; border-bottom: 1px dotted #C0C0C0;}
.wall-message .wall-avatar { float: left;}
.wall-message .wall-main {margin-left: 110px; padding: 5px; min-height:90px;}
.wall-message .wall-main .wall-user { color: #707070; font-weight: bold;}
.wall-level2 { margin-left: 110px; padding: 5px; background-color: #F4F4F4;}
.wall-level2 .wall-main {margin-left: 80px; padding: 5px; min-height:65px; border-bottom: 1px dotted #cfcfcf}
.wall-level3 { margin-left: 80px; padding: 5px; background-color: #E4E3E8;}

.tip {border-bottom: 1px #707070 dotted}
.tip:hover {font-weight: bold;}

.ztip {border-bottom: 1px #707070 dotted; font-weight: bold;}
.ztip:hover {font-weight: bold;}

.faq {margin: 55px 0px; width: 100%;}
.faq-column {width:45%; float: left;}
.faq-question {padding-bottom:7px;}
.faq-answer {padding-bottom:25px;}

.redLink a {color: #cc0000; text-decoration: underline;}
a.red  {color: #cc0000 !important;}

.tbl {
	text-align: left;
	border-collapse: collapse;
	font-size: 18px;
    }

.tbl th, .tableHeader  
{
    font-size: 14px;
	font-weight: normal;
	padding: 8px;
	background: #EAF7EB;
	border-top: solid 3px #88B455; 
	color:  #000;
    line-height: 1.5em;
}
.tbl td 
{
    padding: 8px;
	background: /*#E3F5E4 #EAF7EB*/ #fff; 
	border-bottom: 1px solid #fff;
	border-top: 1px solid transparent;
	color: #888;
    vertical-align: middle;
}

.tbl tr:hover td
{
	background: /* #d0dafd;*/ #EAF7EB;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.section-container {border-bottom: 1px dotted #C0C0C0; padding: 5px 0; overflow: hidden;}

.strikethrough
{
    text-decoration:line-through;
}

.lineSpacing
{
    line-height: 140%;
}

.margin-top-30
{
    margin-top: 30px;
}

.margin-top-90
{
    margin-top: 90px;
}

#preppingContainer
{
    text-align: center; 
    background-color:#f9f9f9;
}

#preppingUrl
{
    position: relative; margin: 0 auto; top: 50px; margin: 0px 10px;
}

#preppingTitle
{
    position: relative; margin: 0 auto; top: 60px; margin: 0px 10px;
}

#preppingSpinner
{
    position: relative; margin: 0 auto; top: 65px; margin: 0px 10px;
}

.centered
{
    text-align: center;
}

.widget-instructions
{
    line-height:23px; float: left; width: 650px;
}

.widget-screenshot
{
    float: right; width: 200px;
}

.widget-install
{
    clear: both;padding-top: 50px; padding-bottom: 10px;
}

.standardLineHeight
{
    line-height:23px;
}

.vvpadded
{
    padding-top: 50px;
}

#externalLoginProviders
{
    margin: 3px 20px;
}

.externalLoginProvider
{
    float: left;
    width: 90px;
}